.login__section {
  max-width: 940px;
  margin: 3.75rem auto;

  .login__section_wrap {
    max-width: 780px;
    margin: 0 auto;
    display: flex;

    .login__section_memberLogin {
      max-width: 50%;
      flex: 0 0 50%;
      background: $darkGreen;

      .login__section_memberLogin_form_container {
        padding: 0 30px;

        .login__section_memberLogin_title {
          margin: 2.5rem 0;
          color: $limeGreen;
          text-align: center;
          font-size: $font-xxl;
          font-family: $font-title;
        }

        .login__section_memberLogin_input {
          width: 100%;

          .login__section_memberLogin_input_account,
          .login__section_memberLogin_input_password {
            position: relative;
            width: 100%;
            margin-bottom: 1rem;

            input {
              width: 100%;
              height: 3.5rem;
              padding-left: 4rem;
              padding-right: 2rem;
              border: none;
              background: $limeGreen;
              font-size: $font-m;
              color: $darkGrayish;

              &::placeholder {
                color: $darkGrayish;
                font-weight: 200;
              }

              &:-ms-input-placeholder {
                color: $darkGrayish;
                font-weight: 200;
              }
            }

            svg {
              position: absolute;
              top: 50%;
              left: 8%;
              transform: translate(-8%, -50%);
            }
          }
        }

        .login__section_memberLogin_remember {
          width: 100%;
          color: $limeGreen;
          font-family: $font-title;
          margin-bottom: 1.37rem;
        }
      }

      // 手機版social media area
      .mobile__socialMedia {
        display: none;
      }

      .login__section_memberLogin_form_submit {
        display: block;
        width: 100%;
        height: 4.06rem;
        line-height: 4.06rem;
        text-align: center;
        background: $yellow;
        font-family: $font-title;
        font-size: $font-xl;
        font-weight: 500;
      }
    }
    .login__section_socialMedia {
      max-width: 50%;
      flex: 0 0 50%;
      background: $limeGreen;
      margin: 1rem 0;
      padding: 0 1.87rem;

      .login__section_socialMedia_title {
        font-family: $font-title;
        font-size: $font-xl;
        color: $darkGrayish;
        text-align: center;
        margin: 2.5rem 0;
      }

      .login__section_socialMedia_list {
        width: 100%;

        li {
          width: 100%;
          height: 3.5rem;
          line-height: 3.5rem;
          text-align: center;
          background: #fff;
          margin-bottom: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 768px) {
  .login__section {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 414px) {
  .login__section {
    max-width: 100%;
    margin: 0;
    .login__section_wrap {
      max-width: 100%;
      flex: 0 0 100%;
      flex-direction: column;

      .login__section_socialMedia {
        display: none;
      }

      .login__section_memberLogin {
        max-width: 100%;
        flex: 0 0 100%;

        .login__section_memberLogin_form_container {
          padding: 0;

          .login__section_memberLogin_title {
            margin: 1.87rem 0;
          }

          .mobile__socialMedia {
            display: block;
            height: 7.25rem;
            padding: 1.87rem;
            background: $limeGreen;

            .mobile__socialMedia_list {
              display: flex;
              justify-content: center;
              align-items: center;
              max-width: 19.6rem;

              li {
                width: 33.333%;
                background: #fff;
                text-align: center;
                // padding: 1.25rem 0.8rem;

                a {
                  display: inline-block;
                  height: 56px;

                  img {
                    display: block;
                    max-width: 80%;
                    height: 100%;
                    margin: 0 auto;
                  }
                }
              }
            }
          }

          .login__section_memberLogin_input {
            padding: 1.87rem 1.87rem 0 1.87rem;
          }
          .login__section_memberLogin_remember {
            padding: 0 1.87rem 1.87rem 1.87rem;
            margin: 0;
          }
        }
      }
    }
  }
}
