.login__section,
.register__section {
  max-width: 940px;
  margin: 3.75rem auto;

  .login__section_wrap,
  .register__section_wrap {
    max-width: 780px;
    margin: 0 auto;
    display: flex;

    .login__section_memberLogin,
    .register__section_memberRegister {
      max-width: 50%;
      flex: 0 0 50%;
      background: $darkGreen;

      .login__section_memberLogin_form_container,
      .register__section_memberRegister_form_container {
        padding: 0 30px;

        .login__section_memberLogin_title,
        .register__section_memberRegister_title {
          margin: 2.5rem 0;
          color: $limeGreen;
          text-align: center;
          font-size: $font-xxl;
          font-family: $font-title;
        }

        .register__section_errorMsg,
        .login__section_errorMsg {
          color: $yellow;
          font-family: $font-title;
          text-align: center;
          font-size: $font-l;
          height: 0;
          overflow: hidden;
          transition: all 0.3s;
        }
        .register__section_errorMsg.show,
        .login__section_errorMsg.show {
          height: 30px;
          line-height: 30px;
          margin-bottom: 1rem;
        }

        .login__section_memberLogin_input,
        .register__section_memberRegister_input {
          width: 100%;

          .login__section_memberLogin_input_account,
          .login__section_memberLogin_input_password,
          .register__section_memberRegister_input_name,
          .register__section_memberRegister_input_email,
          .register__section_memberRegister_input_verifyCode,
          .register__section_memberRegister_input_password,
          .register__section_memberRegister_input_confirmPwd {
            width: 100%;
            margin-bottom: 1rem;

            .register__section_memberRegister_input_container,
            .login__section_memberLogin_input_container {
              position: relative;

              input {
                width: 100%;
                height: 3.5rem;
                padding-left: 4rem;
                padding-right: 2rem;
                border: none;
                background: $limeGreen;
                font-size: $font-m;
                color: $darkGrayish;

                &::placeholder {
                  color: $darkGrayish;
                  font-weight: 200;
                }

                &:-ms-input-placeholder {
                  color: $darkGrayish;
                  font-weight: 200;
                }
              }

              svg {
                position: absolute;
                top: 50%;
                left: 8%;
                transform: translate(-8%, -50%);
              }
            }

            .register__section_memberRegister_input_error,
            .login__section_memberLogin_input_error {
              color: $yellow;
              font-family: $font-title;
              height: 0;
              overflow: hidden;
              transition: all 0.3s;
            }
            .register__section_memberRegister_input_error.show,
            .login__section_memberLogin_input_error.show {
              margin-top: 0.5rem;
              height: 20px;
              line-height: 20px;
            }
          }

          .register__section_memberRegister_input_btn {
            position: relative;
            width: 100%;
            margin-bottom: 1rem;

            button {
              border: none;
              background: $yellow;
              width: 4.5rem;
              height: 2rem;
              color: $darkGreen;
              font-family: $font-title;
              border-radius: 2px;
              padding: 0 0.5rem;
              cursor: pointer;
            }

            p {
              color: $yellow;
              font-family: $font-title;
              height: 0;
              overflow: hidden;
              transition: all 0.3s;
            }
            p.show {
              height: 20px;
              line-height: 20px;
              margin: 1rem 0;
            }
          }
        }

        .login__section_memberLogin_remember,
        .register__section_memberRegister_remember {
          width: 100%;
          color: $limeGreen;
          font-family: $font-title;
          margin-bottom: 1.37rem;
        }
      }

      // 手機版social media area
      .mobile__socialMedia {
        display: none;
      }

      .login__section_memberLogin_form_submit,
      .register__section_memberRegister_form_submit {
        display: block;
        width: 100%;
        height: 4.06rem;
        line-height: 4.06rem;
        text-align: center;
        background: $yellow;
        font-family: $font-title;
        font-size: $font-xl;
        font-weight: 500;
      }
    }
    .login__section_socialMedia,
    .register__section_socialMedia {
      max-width: 50%;
      flex: 0 0 50%;
      background: $limeGreen;
      margin: 1rem 0;
      padding: 0 1.87rem;

      .login__section_socialMedia_title,
      .register__section_socialMedia_title {
        font-family: $font-title;
        font-size: $font-xl;
        color: $darkGrayish;
        text-align: center;
        margin: 2.5rem 0;
      }

      .login__section_socialMedia_list,
      .register__section_socialMedia_list {
        width: 100%;

        li {
          width: 100%;
          height: 3.5rem;
          line-height: 3.5rem;
          text-align: center;
          background: #fff;
          margin-bottom: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 768px) {
  .login__section,
  .register__section {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 414px) {
  .login__section,
  .register__section {
    max-width: 100%;
    margin: 0;

    .login__section_wrap,
    .register__section_wrap {
      max-width: 100%;
      flex: 0 0 100%;
      flex-direction: column;

      .login__section_socialMedia,
      .register__section_socialMedia {
        display: none;
      }

      .login__section_memberLogin,
      .register__section_memberRegister {
        max-width: 100%;
        flex: 0 0 100%;

        .login__section_memberLogin_form_container,
        .register__section_memberRegister_form_container {
          padding: 0;

          .login__section_memberLogin_title,
          .register__section_memberRegister_title {
            margin: 1.87rem 0;
          }

          .mobile__socialMedia {
            display: block;
            height: 7.25rem;
            padding: 1.87rem;
            background: $limeGreen;

            .mobile__socialMedia_list {
              display: flex;
              justify-content: center;
              align-items: center;
              max-width: 19.6rem;
              margin: 0 auto;

              li {
                width: 33.333%;
                background: #fff;
                text-align: center;
                // padding: 1.25rem 0.8rem;

                a {
                  display: inline-block;
                  height: 56px;

                  img {
                    display: block;
                    max-width: 80%;
                    height: 100%;
                    margin: 0 auto;
                  }
                }
              }
            }
          }

          .login__section_memberLogin_input,
          .register__section_memberRegister_input {
            padding: 1.87rem 1.87rem 0 1.87rem;
          }

          .login__section_memberLogin_remember,
          .register__section_memberRegister_remember {
            padding: 0 1.87rem 1.87rem 1.87rem;
            margin: 0;
          }
        }
      }
    }
  }
}
