.header__section {
  position: relative;
  max-width: 940px;
  margin: 0 auto;

  .header__container {
    font-family: $font-title;
    font-size: $font-m;
    font-weight: 500;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    height: 100px;
    line-height: 100px;

    // hamburger
    .mobile__header_hamburger {
      display: none;
      left: 5%;
      width: 80px;
      height: 100%;
      z-index: 999;

      .mobile__header_hamburger_line_container {
        width: 25px;
        height: 25px;

        .mobile__header_hamburger_line {
          width: 100%;
          height: 3px;
          margin-bottom: 5px;
          background: $darkGreen;
          transition: all 0.5s;
        }
        .mobile__header_hamburger_line:first-child.close {
          transform: translateY(8px) rotate(-45deg);
          background: $yellow;
        }
        .mobile__header_hamburger_line:nth-child(2).close {
          display: none;
        }
        .mobile__header_hamburger_line:last-child.close {
          transform: rotate(45deg);
          background: $yellow;
        }
      }
    }

    .header__logo_container {
      width: 220px;
      height: 100%;

      #header__logo {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url('~assets/img/logo/desktop/logo-all-dark.svg') no-repeat center
          center;
        flex: 0 0 23.5%;
        margin-right: 10px;
      }
    }
  }

  // 使用者面板
  .header__menu__Login_userInfo_panel_wrap {
    position: absolute;
    top: 75%;
    right: 2%;
    z-index: 99;

    .header__menu__Login_userInfo_panel {
      display: flex;
      flex-direction: column;
      width: 250px;
      background: #fff;
      box-shadow: 1px 1px 3px 2px #ccc;
      padding: 0.5rem;
      font-family: $font-title;

      .header__menu__Login_userInfo_panel_item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        min-height: 2rem;
        padding: 0.5rem;

        &:hover {
          background: #eee;
          cursor: pointer;
        }

        .header__menu__Login_userInfo_panel_item_icon {
          text-align: center;
          background: #ccc;
          height: 30px;
          line-height: 30px;
          width: 30px;
          border-radius: 50%;
          margin-right: 1rem;
        }

        .msg_count {
          display: inline-block;
          width: 25px;
          height: 25px;
          line-height: 25px;
          background: red;
          color: #fff;
          text-align: center;
          border-radius: 50%;
        }
        .msg_count_large {
          display: inline-block;
          width: 40px;
          height: 25px;
          line-height: 25px;
          background: red;
          color: #fff;
          text-align: center;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
      }
    }
  }

  .mobile__header_menu,
  .mobile__clip_menu {
    display: none;
  }
}

// 平板轉橫
@media screen and (max-width: 1023px) {
}
// pad
@media screen and (max-width: 767px) {
  .header__section {
    .header__container {
      height: 80px;
      justify-content: space-around;

      .header__logo_container {
        flex: 0 0 20%;
        width: 110px;
        height: 100%;
        text-align: center;

        #header__logo {
          display: inline-block;
          width: 110px;
          background: url('~assets/img/logo/mobile/logotype-sm-dark.svg') no-repeat center
            center;
        }
      }
    }
    .header__menu__Login_userInfo_panel_wrap {
      display: none;
    }
    .mobile__clip_menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      height: 100vh;
      background: $darkGreen;
      z-index: 99;
      pointer-events: none;
      overscroll-behavior: contain;
      clip-path: circle(100px at 0 -100%);
      -webkit-clip-path: circle(100px at 0 -100%);
      transition: all 1s ease-out;

      .mobile__clip_menu_userSection {
        margin: 4rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mobile__clip_menu_userInfo {
          .mobile__clip_menu_userInfo_img {
            width: 9rem;
            height: 9rem;
            margin-bottom: 1rem;
          }
          .mobile__clip_menu_userInfo_username {
            color: #fff;
            margin: 1rem 0;
            font-family: $font-title;
            font-size: $font-m;
            text-align: center;
          }
        }
        .mobile__clip_menu_location {
          color: #fff;
          font-family: $font-title;
          font-size: $font-m;
        }
      }

      .mobile__clip_menu_container {
        max-height: 350px;
        overflow-y: auto;
        color: $limeGreen;
        margin: 0.5rem 0;
        padding: 1.5rem 0;
        font-family: $font-Neue;
        font-size: $font-m;

        li.mobile__clip_menu_list {
          width: 80%;
          margin: 0 auto;
          padding: 2rem 0;
          border-bottom: 1px solid $yellow;
          opacity: 0;
          transition: all 1s ease-out;

          svg {
            margin-right: 2rem;
          }

          a {
            color: $limeGreen;
            font-size: $font-m;
            display: inline-block;
            width: 80%;
            text-align-last: left;
          }
        }
        li.mobile__clip_menu_list:nth-child(1) {
          transition: all 0.5s ease-out 0.2s;
        }
        li.mobile__clip_menu_list:nth-child(2) {
          transition: all 0.5s ease-out 0.4s;
        }
        li.mobile__clip_menu_list:nth-child(3) {
          transition: all 0.5s ease-out 0.6s;
        }
        li.mobile__clip_menu_list:nth-child(4) {
          transition: all 0.5s ease-out 0.8s;
        }
        li.mobile__clip_menu_list:nth-child(5) {
          transition: all 0.5s ease-out 1s;
        }
        li.mobile__clip_menu_list:nth-child(6) {
          transition: all 0.5s ease-out 1.2s;
        }
        li.mobile__clip_menu_list.open {
          opacity: 1;
        }
      }
    }
    .mobile__clip_menu.open {
      pointer-events: all;
      clip-path: circle(3000px at 0 90%);
      -webkit-clip-path: circle(3000px at 0 -20%);
    }
  }
}
// mobile
@media screen and (max-width: 414px) {
  .header__section {
    .header__container {
      .mobile__header_hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .mobile__clip_menu {
      .mobile__clip_menu_userSection {
        margin-bottom: 0;

        .mobile__clip_menu_userInfo {
          .mobile__clip_menu_userInfo_img {
            width: 5rem;
            height: 5rem;
          }
        }
      }

      .mobile__clip_menu_container {
        li.mobile__clip_menu_list {
          width: 90%;
          margin: 0 auto;
          padding: 1rem 0;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header__section {
    .mobile__clip_menu {
      .mobile__clip_menu_userSection {
        margin-top: 4rem;
        margin-bottom: 0;

        .mobile__clip_menu_userInfo {
          text-align: center;

          .mobile__clip_menu_userInfo_img {
            width: 4rem;
            height: 4rem;
          }
          .mobile__clip_menu_userInfo_username {
            font-size: $font-m;
          }
        }

        .mobile__clip_menu_location {
          font-size: $font-m;
        }
      }

      .mobile__clip_menu_container {
        li.mobile__clip_menu_list {
          width: 90%;
          margin: 0 auto;
          padding: 1rem;
          font-size: $font-m;

          svg {
            margin-right: 1rem;
          }

          a {
            font-size: $font-m;
            text-align-last: left;
          }
        }
      }
    }
  }
}

// 手機轉橫
@media screen and (orientation: landscape) and (max-width: 812px) {
  .header__section {
    .header__container {
      .header__logo_container {
        flex: 0 0 70%;
        height: 100%;
        text-align: center;

        #header__logo {
          display: inline-block;
          width: 110px;
          background: url('~assets/img/logo/mobile/logotype-sm-dark.svg') no-repeat center
            center;
        }
      }
      .mobile__header_hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .header__menu__Login_userInfo_panel_wrap {
      display: none;
    }
    .mobile__clip_menu {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      height: 100vh;
      background: $darkGreen;
      z-index: 99;
      pointer-events: none;
      overscroll-behavior: contain;
      clip-path: circle(100px at 0 -100%);
      -webkit-clip-path: circle(100px at 0 -100%);
      transition: all 1s ease-out;

      .mobile__clip_menu_userSection {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mobile__clip_menu_userInfo {
          .mobile__clip_menu_userInfo_img {
            width: 4rem;
            height: 4rem;
            margin-bottom: 1rem;
          }
          .mobile__clip_menu_userInfo_username {
            color: #fff;
            margin: 1rem 0;
            font-family: $font-title;
            font-size: $font-m;
            text-align: center;
          }
        }
        .mobile__clip_menu_location {
          color: #fff;
          font-family: $font-title;
          font-size: $font-m;
        }
      }

      .mobile__clip_menu_container {
        flex: 0 0 70%;
        max-height: 320px;
        color: $limeGreen;
        margin: 1.5rem 0;
        padding: 1rem 0;
        font-family: $font-Neue;
        font-size: $font-m;
        overflow-y: auto;

        li.mobile__clip_menu_list {
          width: 80%;
          margin: 0 auto;
          padding: 1rem 0;
          border-bottom: 1px solid $yellow;
          opacity: 0;
          transition: all 1s ease-out;

          svg {
            margin-right: 2rem;
          }

          a {
            color: $limeGreen;
            font-size: $font-m;
            display: inline-block;
            width: 80%;
            text-align-last: left;
          }
        }
        li.mobile__clip_menu_list:nth-child(1) {
          transition: all 0.5s ease-out 0.2s;
        }
        li.mobile__clip_menu_list:nth-child(2) {
          transition: all 0.5s ease-out 0.4s;
        }
        li.mobile__clip_menu_list:nth-child(3) {
          transition: all 0.5s ease-out 0.6s;
        }
        li.mobile__clip_menu_list:nth-child(4) {
          transition: all 0.5s ease-out 0.8s;
        }
        li.mobile__clip_menu_list:nth-child(5) {
          transition: all 0.5s ease-out 1s;
        }
        li.mobile__clip_menu_list:nth-child(6) {
          transition: all 0.5s ease-out 1.2s;
        }
        li.mobile__clip_menu_list.open {
          opacity: 1;
        }
      }
    }
    .mobile__clip_menu.open {
      pointer-events: all;
      clip-path: circle(3000px at 0 90%);
      -webkit-clip-path: circle(3000px at 0 -20%);
    }
  }
}
