.map__container {
  max-width: 940px;
  margin: 3.5rem auto;
  display: flex;
  justify-content: space-between;

  .map__list_container {
    max-width: 35%;
    flex: 0 0 34%;

    .map__list_selectCity {
      width: 100%;
      .map__list_city,
      .map__list_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-title;
        margin-bottom: 1.2rem;
      }
    }

    // 手機選單
    .mobile__map__list_selectCity {
      display: none;
      margin: 1rem auto;
      font-family: $font-title;
    }

    .map__list_searchResult {
      width: 100%;
      border-bottom: 1px solid $darkGreen;
      padding-bottom: 0.5rem;
      text-align: right;

      .map__list_searchResult_result {
        font-family: $font-title;
        font-size: $font-s;
        font-weight: 450;
      }
    }

    .map__list_showShop {
      width: 100%;
      max-height: 36rem;
      overflow-y: auto;
      margin-top: 1rem;
      background: #fff;
      box-shadow: 1px 1px 3px 1px #ccc;

      .map__list_showShop_list {
        margin: 1rem 0.5rem;
        padding: 0 0.5rem;
        font-family: $font-title;
        border-bottom: 1px solid $darkGreen;

        &:last-child {
          border: none;
        }

        .map__list_showShop_list_title {
          font-size: $font-l;
          display: inline-block;
          padding-bottom: 1rem;
          line-height: 2rem;
        }

        .map__list_showShop_list_address,
        .map__list_showShop_list_phone {
          margin-bottom: 0.5rem;
          font-size: 14px;

          .map__list_showShop_list_address_link,
          .map__list_showShop_list_phone_link {
            color: $blue;
            display: inline-block;
            line-height: 1.2rem;
          }
        }
      }
    }
  }

  .map__shopMap_container {
    max-width: 63%;
    flex: 0 0 66%;

    #map {
      width: 100%;
      height: 500px;
      z-index: 5;
    }
  }
}

@media screen and (max-width: 1024px) {
  .map__container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;

    .map__list_container {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 1.5rem;

      .map__list_selectCity {
        width: 60%;

        .map__list_city,
        .map__list_area {
          .el-select {
            flex: 0 0 70%;
          }
        }
      }
    }

    .map__shopMap_container {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .map__container {
    padding: 0 1.5rem;
    margin: 1rem auto;

    .map__list_container {
      .map__list_selectCity {
        display: none;
      }

      .mobile__map__list_selectCity {
        display: block;
      }
    }

    .map__shopMap_container {
      margin: 0;
    }
  }
}
@media screen and (max-width: 414px) {
  .map__container {
    padding: 0;

    .map__list_container {
      padding: 0.5rem;
    }

    .map__shopMap_container {
      #map {
        max-height: 20rem;
      }
    }
  }
}
@media screen and (max-width: 375px) {
}
