.chatRoom__wrap {
  margin: 2rem 0;

  .chatRoom__container {
    display: flex;
    justify-content: space-evenly;
    max-width: 940px;
    min-height: 500px;
    margin: 0 auto;

    // 聊天室列表
    .chatRoom__userList_container {
      flex: 0 0 40%;
      max-width: 420px;
      padding: 0 1rem;

      .chatRoom__userList_header {
        margin-top: 1rem;

        .chatRoom__userList_header_title {
          font-family: $font-title;
          font-size: $font-xl;
          margin-bottom: 1rem;
        }
      }

      .chatRoom__userList_search {
        position: relative;
        .search_container {
          input {
            width: 100%;
            padding: 0.6rem 1rem 0.6rem 2.25rem;
            border: none;
            background: #eee;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            font-size: initial;
          }
          svg {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(-5%, -50%);
          }
        }
      }

      .chatRoom__userList_list {
        margin-top: 1rem;
        font-family: $font-title;
        max-height: 800px;
        overflow-y: auto;

        .chatRoom__userList_list_user {
          display: flex;
          flex: 1 1 auto;
          align-items: center;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          border-radius: 10px;
          cursor: pointer;

          .chatRoom__userList_list_user_img {
            margin-right: 0.75rem;
            img {
              width: 3.1rem;
              height: 3.1rem;
              display: block;
              border: none;
            }
          }
          .chatRoom__userList_list_user_message {
            display: flex;
            flex-direction: column;
            flex: 1 1 0;
            justify-content: center;
            min-width: 0;
            padding: 0 1rem 0 0;

            .chatRoom__userList_list_user_message_name {
              display: flex;
              justify-content: space-between;
              font-weight: 400;
              margin-bottom: 0.3rem;
            }
            .chatRoom__userList_list_user_message_content {
              display: flex;
              align-items: baseline;
              justify-content: left;
              margin-right: 0.75rem;
              .msg {
                color: rgb(197, 194, 194);
                flex: 0 1 auto;
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
                max-width: 10rem;
                font-family: $font-title;
                font-size: $font-m;
              }
              .dot {
                margin: 0 0.25rem;
                font-size: $font-s;
              }
              .time {
                display: inline-flex;
                color: rgb(197, 194, 194);
                font-size: $font-s;
              }
            }
          }
          .chatRoom__userList_list_user_notify {
            // opacity: 0;
            display: inline-block;
            width: 0.75rem;
            height: 0.75rem;
            background: rgb(0, 153, 255);
            border-radius: 50%;
          }
          .chatRoom__userList_list_user_notify_img {
            width: 0.75rem;
            height: 0.75rem;
            display: block;
          }
        }

        .chatRoom__userList_list_user.unread {
          .chatRoom__userList_list_user_message {
            .chatRoom__userList_list_user_message_name {
              font-weight: 700;
            }
            .chatRoom__userList_list_user_message_content {
              .msg {
                color: $darkGreen;
              }
            }
          }
          // .chatRoom__userList_list_user_notify {
          //   opacity: 1;
          // }
          // .chatRoom__userList_list_user_notify_img {
          //   display: none;
          // }
        }

        .chatRoom__userList_list_user.selected {
          background: rgba(0, 0, 0, 0.05);

          // .chatRoom__userList_list_user_notify {
          //   opacity: 0;
          // }
        }
      }
    }

    // 訊息欄
    .chatRoom__userMessage_container {
      flex: 0 0 60%;
      // border: 1px solid $darkGreen;
      box-shadow: 0 0 5px 3px $limeGreen;
      border-radius: 10px;
      font-family: $font-title;

      // Current user
      .chatRoom__userMessage_currentUser {
        width: 100%;
        height: 60px;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .chatRoom__userMessage_currentUser_back {
          display: none;
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
        }

        .chatRoom__userMessage_currentUser_img {
          margin-right: 0.5rem;
          img {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
        .chatRoom__userMessage_currentUser_userInfo {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          max-width: 150px;
          height: 32px;
          justify-content: center;

          .chatRoom__userMessage_currentUser_userInfo_lastOnline {
            margin-top: 0.3rem;
            color: #ccc;
            font-size: $font-s;
          }
        }
      }

      // no chat
      .chatRoom__userMessage_noChat {
        width: 100%;
        text-align: center;
        height: 3rem;
        line-height: 3rem;
        color: #ccc;
      }

      // message content area
      .chatRoom__userMessage_content {
        max-height: 800px;
        min-height: 500px;
        overflow-y: auto;
        padding: 0.5rem;
        overscroll-behavior: contain;

        .chatRoom__userMessage_content_wrapper {
          .unread {
            position: relative;
            text-align: center;
            font-size: $font-s;
            padding: 3px 0;
            margin: 5px 0;
            background: rgb(127, 170, 187);
            border-radius: 3px;
            color: #fff;

            &::after {
              clear: both;
              content: '';
              display: block;
              font-size: 0;
              height: 0;
              line-height: 0;
              visibility: hidden;
            }

            svg {
              position: absolute;
              float: left;
              top: 30%;
              left: 5%;
              font-size: 0.6rem;
              transform: translate(-30%, -5%);
            }
          }

          .msg_time {
            text-align: center;
            margin: 0 auto;

            span {
              display: inline-block;
              max-width: 30%;
              padding: 0.5rem;
              background: rgb(127, 170, 187);
              color: #fff;
              font-size: $font-s;
              border-radius: 5px;
            }
          }

          // message bubble public style
          .chatRoom__userMessage_content_container {
            position: relative;

            &::after {
              clear: both;
              content: '';
              display: block;
              font-size: 0;
              height: 0;
              line-height: 0;
              visibility: hidden;
            }

            .chatRoom__userMessage_content_message {
              padding: 10px;
              margin-bottom: 0.5rem;
              margin-right: 1rem;
              border-radius: 5px;

              &::after {
                clear: both;
                content: '';
                display: block;
                font-size: 0;
                height: 0;
                line-height: 0;
                visibility: hidden;
              }
            }

            .chatRoom__userMessage_content_message_wrap {
              display: flex;
              align-items: center;
              position: relative;

              .chatRoom__userMessage_content_userImg {
                opacity: 0;

                img {
                  margin-right: 0.3rem;
                  width: 1.75rem;
                  height: 1.75rem;
                  display: block;
                  border: 0;
                }
              }
              .chatRoom__userMessage_content_userImg.show {
                opacity: 1;
              }

              .chatRoom__userMessage_content_userReadImg {
                position: absolute;
                right: -0.1rem;
                bottom: 0.5rem;
                transition: all 1s 1s;

                img {
                  width: 0.85rem;
                  height: 0.85rem;
                  display: block;
                  border: 0;
                  float: right;
                }
              }
            }
          }

          .send_msg {
            position: absolute;
            font-size: 0.6rem;
            right: 0;
            bottom: 0.6rem;
            transition: all 0.5s 1s;
          }

          .self_container {
            position: relative;

            .content_self {
              float: right;
              clear: right;
              background-color: $limeGreen;
            }

            .chatRoom__userMessage_content_otheruserReadImg {
              position: absolute;
              right: 0;
              bottom: 0.6rem;

              img {
                width: 0.7rem;
                height: 0.7rem;
                display: block;
                border: 0;
                float: right;
              }
            }
          }

          .other_container {
            margin-top: 5px;

            .content_other {
              float: left;
              clear: left;
              background-color: $darkGreen;
              color: $limeGreen;
            }
          }
        }
      }

      // message submit form
      .chatRoom__input_container {
        width: 100%;

        #chatRoom__input_form {
          text-align: right;
          margin: 0.5rem;

          #send_msg {
            width: 100%;
            padding: 0.6rem 1rem 0.6rem 0.8rem;
            border: none;
            background: #eee;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            font-size: initial;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .chatRoom__wrap {
    .chatRoom__container {
      .chatRoom__userList_container {
        width: 5rem;
        max-width: 5rem;
        padding: 0;
        flex: 0 0 20%;

        .chatRoom__userList_header,
        .chatRoom__userList_search {
          display: none;
        }

        .chatRoom__userList_list {
          .chatRoom__userList_list_user {
            justify-content: center;
            .chatRoom__userList_list_user_message,
            .chatRoom__userList_list_user_notify {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
  .chatRoom__wrap {
    .chatRoom__container {
      .chatRoom__userList_container {
        display: block;
        // display: none;
        width: 100%;
        max-width: 100%;
        padding: 0;
        flex: 0 0 100%;

        .chatRoom__userList_search {
          padding: 0 0.8rem;
          display: block;

          .search_container {
            svg {
              left: 7%;
            }
          }
        }

        .chatRoom__userList_list {
          .chatRoom__userList_list_user {
            justify-content: space-evenly;
            .chatRoom__userList_list_user_message,
            .chatRoom__userList_list_user_notify {
              display: block;
            }
          }
        }
      }

      .chatRoom__userMessage_container {
        // display: none;
        display: block;
        // transform: scale(0);
        // overflow: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.3s;
        font-family: $font-title;
        z-index: 9999;
        background: #fff;
        box-shadow: none;
        border-radius: 0;
        transform: translateX(100%);
        transition: all 0.5s;

        .chatRoom__userMessage_currentUser {
          padding: 0.5rem 0;
          .chatRoom__userMessage_currentUser_back {
            display: block;
          }
        }

        .chatRoom__userMessage_content {
          max-height: 80%;
          min-height: 0;
        }
      }
      .chatRoom__userMessage_container.open {
        transform: translateX(0);
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .chatRoom__wrap {
    .chatRoom__container {
      .chatRoom__userList_container {
        width: 100%;
        max-width: 100%;
        padding: 0;
        flex: 0 0 100%;

        .chatRoom__userList_search {
          padding: 0 0.8rem;
          display: block;

          .search_container {
            svg {
              left: 7%;
            }
          }
        }

        .chatRoom__userList_list {
          .chatRoom__userList_list_user {
            .chatRoom__userList_list_user_img {
              img {
                width: 2rem;
                height: 2rem;
              }
            }
            .chatRoom__userList_list_user_message {
              font-size: $font-m;
            }
            .chatRoom__userList_list_user_notify {
              width: 0.5rem;
              height: 0.5rem;
            }
          }
        }
      }
    }
  }
}
